.amenu {
  font-style: #FE9376;
  margin: 0 auto;
  padding: 10px 10px 40px 10px;
  list-style: none ;
  text-align: center;
}

.amenu li {
  display: inline;
  margin: 0 auto;
}

.amenu li a {
  padding: 4px 20px ;
  background: #fff;
  color: #FE9376;
  border-radius: 4px;
  font: 'Lato', sans-serif;
  line-height: 1cm ;
  text-align: center ;
}

.amenu li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #FE9376;
  color: white;
  text-decoration: none;
}

.amenu li img {
  width: 100px;
  float: justify;
}

