.vbannersignup	{
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%), url(../../image/paysage.jpg);
	color: white;
	padding: 10px 0px; 
	background-size: cover;
	background-position: center;

}


.vbannersignup h1 {
	font-size: 50px;
	text-align: center;
}

.vbannersignup h2 {
	font-size: 30px;
	font-weight: lighter; 
	opacity: 1;
}