.vcardguide	{
	background: white;
	width: 400px;
	margin: 40px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba( 0, 0, 0, 0.2);
    border-radius: 8px;
}


.vcardguide img	{

	width: 150px;
}

.vcardguide h3 {
	
	flex-grow: 1;
	
}
